body{
    background: #000;
    color: white;
}

.webgl{
  width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#navbar-left{
    gap: 4rem;
}

#navbar-right{
    gap: 4rem;
}
nav a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    cursor: pointer;
}

